@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!--  Product Details -->
                <div class="product product-details clearfix">
                    <div class="col-md-6">
                        <div id="product-main-view">
                            <div class="product-view">
                                <img src="~/Content/img/main-product01.jpg" alt="">
                            </div>
                            <div class="product-view">
                                <img src="~/Content/img/main-product02.jpg" alt="">
                            </div>
                            <div class="product-view">
                                <img src="~/Content/img/main-product03.jpg" alt="">
                            </div>
                            <div class="product-view">
                                <img src="~/Content/img/main-product04.jpg" alt="">
                            </div>
                        </div>
                        <div id="product-view">
                            <div class="product-view">
                                <img src="~/Content/img/thumb-product01.jpg" alt="">
                            </div>
                            <div class="product-view">
                                <img src="~/Content/img/thumb-product02.jpg" alt="">
                            </div>
                            <div class="product-view">
                                <img src="~/Content/img/thumb-product03.jpg" alt="">
                            </div>
                            <div class="product-view">
                                <img src="~/Content/img/thumb-product04.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-body">
                            <div class="product-label">
                              
                                <span class="sale">-20%</span>
                            </div>
                            <h2 class="product-name">Lacivert ayakkabı</h2>
                            <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                            <div>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                               
                            </div>
                            <p><strong>Durum:</strong> Stokta var</p>
                            
                            <p>
                                Anlatmaya gerek yok görüyorsunuz lacivert spor ayakkabı.
                            </p>
                            <div class="product-options">
                                <ul class="size-option">
                                    <li><span class="text-uppercase">Size:</span></li>
                                    <li class="active"><a href="#">S</a></li>
                                    <li><a href="#">XL</a></li>
                                    <li><a href="#">SL</a></li>
                                </ul>
                                <ul class="color-option">
                                    <li><span class="text-uppercase">Renk:</span></li>
                                    <li class="active"><a href="#" style="background-color:#475984;"></a></li>
                                    <li><a href="#" style="background-color:#8A2454;"></a></li>
                                    <li><a href="#" style="background-color:#BF6989;"></a></li>
                                    <li><a href="#" style="background-color:#9A54D8;"></a></li>
                                </ul>
                            </div>

                            <div class="product-btns">
                                <div class="qty-input">
                                    
                                    <input class="input" type="number">
                                </div>
                                <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Ekle</button>
                                <div class="pull-right">
                                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                    
                                    <button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                  

                </div>
                <!-- /Product Details -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
</body>

</html>
