
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <form id="checkout-form" class="clearfix">

                <div class="col-md-6">
                    <div class="shiping-methods">
                        <div class="section-title">
                            <h4 class="title">Kimiz biz?</h4>
                        </div>
                        <div class="caption">
                            <p>
                                Türkiye ve Ortadoğu bölgesinin en hızlı büyüyen ve en büyük e-ticaret teknoloji şirketiyiz.

                                Misyonumuz müşterilerimize teknoloji ile her zaman ve her yerde en iyi alışveriş deneyimini yaşatmak.

<p>
                        </div>

                    </div>
                </div>

            </form>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
