
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <form id="checkout-form" class="clearfix">
                
                <div class="col-md-6">
                    <div class="shiping-methods">
                        <div class="section-title">
                            <h4 class="title">Bize bu iletişim ulaşabilirsiniz.</h4>
                        </div>
                        <div class="caption">
                            <p>
                                Tel1: 0216 466 55 55<br />
                                Tel2: 0212 466 55 55<br />
                                DSM Grup Danışmanlık İletişim ve Satış Ticaret A.Ş Büyükdere Cad. Noramin İş Merkezi No:237 Kat:1-B 34398 Maslak/İstanbul
<p>
                        </div>
                      
                    </div>
                </div>

            </form>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>