
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Iletisim</title>
</head>
<body>
    <div> 
        <h1>0535616541652</h1>
    </div>
</body>
</html>
